.registerCountInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
}

.registerCountInput label {
  margin-bottom: 2rem;
  color: var(--gray-100);
}

.registerCountInput input {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: solid 1px var(--primary);
  background-color: var(--text-over-primary);
  color: var(--gray-100);
}

.registerCountInput input:focus {
  outline: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
